{% extends "app/layout.html" %}

{% block content %}


<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Past Jobs
        </h1>
      </div>
    </div>
</section>

{% if pastJobs %}

<section class="section mx-5">
    <table class="table is-hoverable is-fullwidth" border="1">
        <thead>
            <tr>
                <th>Completed Jobs</th>
                <th>Completion Date</th>
            </tr>
        </thead>
        <tbody>
            {% for job in pastJobs %}
            <tr>
                <td>{{ job }}</td>
                <td>{{ job.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% else %}
    Sorry no jobs were completed.
{% endif %}

{% endblock %}