{% extends "app/layout.html" %}

{% block content %}

<section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{ title }}
        </h1>
        <h2 class="subtitle">
          {{ message }}
        </h2>
      </div>
      <section class="section px-6">
        <address>
            One Microsoft Way<br />
            Redmond, WA 98052-6399<br />
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
        
        <address>
            Support:   <a href="mailto:Support@example.com">Support@example.com</a><br />
            Marketing: <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </section>
    </div>

</section>

{% endblock %}
