{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>CSE323 Project</h1>
    <p class="lead">Bank Queue Management Application</p>
    <p><a href="https://github.com/sakibsadmanshajib/CSE323" class="btn btn-primary btn-large">GitHub repo &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Current Jobs</h2>
        <p>Shows the queue of jobs/customers inside the bank.</p>
        <p><a class="btn btn-default" href="{% url 'getCurrentJobs' %}">Current Jobs &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add a new Job</h2>
        <p>Add a new Job to the queue.</p>
        <p><a class="btn btn-default" href="{% url 'addJob' %}">Add Job &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Past Jobs</h2>
        <p>Shows the list of completed jobs.</p>
        <p><a class="btn btn-default" href="{% url 'getPastJobs' %}">Past Jobs &raquo;</a></p>
    </div>
</div>

{% endblock %}
