{% extends "app/layout.html" %}

{% block content %}

<div class="section px-6 py-1">
<div class="tile is-ancestor is-vertical">
    <div class="tile is-parent is-vertical">
        <div class="section">
            <p class="title is-2">CSE323 Project</p>
            <div class="content">
                Bank Queue Management Application
            </div>
        </div>
    </div>
    <div class="tile is-parent home-section">
        <a class="tile is-child" href="{% url 'getCurrentJobs' %}">
            <div class="card custom-card mr-5">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">View Current Jobs</p>
                        <!-- <p class="subtitle is-6">@johnsmith</p> -->
                        </div>
                    </div>
                    <div class="content">
                        Shows the queue of jobs/customers inside the bank.
                    </div>
                </div>
            </div>
        </a>
        <a class="tile is-child" href="{% url 'addJob' %}">
            <div class="card custom-card mr-5">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">Add a new Job</p>
                        <!-- <p class="subtitle is-6">@johnsmith</p> -->
                        </div>
                    </div>
                    <div class="content">
                        Add a new Job to the queue.
                    </div>
                </div>
            </div>
        </a>
        <a class="tile is-child" href="{% url 'getPastJobs' %}">
            <div class="card custom-card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4">View Past Jobs</p>
                        <!-- <p class="subtitle is-6">@johnsmith</p> -->
                        </div>
                    </div>
                    <div class="content">
                        Shows the list of completed jobs.
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
</div>

{% endblock %}
