<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - CSE323 Project</title>
    {% load static %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'content/site.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'content/site.css' %}">
    <!-- <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script> -->
</head>

<body>
    <!-- <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">CSE323</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
                {% include 'app/loginpartial.html' %}
            </div>
        </div> -->
        <nav class="navbar px-6" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="https://bulma.io">
                <strong>CSE323</strong>
              </a>
          
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item" href="{% url 'home' %}">
                    Home
                </a>
          
                <a class="navbar-item" href="{% url 'about' %}">
                  About
                </a>
          
                <a class="navbar-item" href="{% url 'contact' %}">
                    Contact
                </a>
              </div>
          
              <div class="navbar-end">
                {% include 'app/loginpartial.html' %}
              </div>
            </div>
          </nav>
    <!-- </div> -->

    <!-- <div class="container body-content"> -->
{% block content %}{% endblock %}
        <footer class="footer m-0">
            <div class="content pl-5">
                <p>&copy; {{ year }} - CSE323</p>
            </div>
        </footer>

    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
